.package{
    background-color: rgb(49, 133, 133);
    border-radius: 20px;
}

.book-style{
    background-color: rgb(40, 81, 158);
    padding: 8px;
    padding-left: 25px;
    padding-right: 25px;
    border: gray;
    border-radius: 6px;
    color: white;
}
.book-style:hover{
    background-color: rgb(15, 15, 15);
}